GRUEN
bert_score
bleurt

.vscode
.ipynb_checkpoints
default*
nubia
test.py
__pycache__
*.p
output_*
*.json
misc
*.ipynb

# created folders
.test_*
test_*
test
Comparison_*
mock_dir_test
.example*

# include mock_dir
!tests/mock_dir_1/*p
!tests/mock_dir_2/*p

# yielded images
*.png